<!DOCTYPE html>
<html lang="en">
<head>
    <title>Donated</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/grid_12.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300italic' rel='stylesheet' type='text/css'>
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/shCore.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/requestModal.css" rel="stylesheet" />
    <script src="~/js/jquery-1.7.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/cufon-yui.js"></script>
    <script src="~/js/cufon-replace.js"></script>
    <script src="~/js/Bilbo_400.font.js"></script>
    <script src="~/js/tms-0.4.1.js"></script>
    <script src="~/js/Table/jquery.dataTables.min.js"></script>
    <script src="~/js/Table/shCore.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>

    <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="js/html5.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
</head>
<body>
    <header>
        <div>
            <div>
                <h1><a href="index.html"><img src="~/images/logo.jpg" alt="tr"></a></h1>
                <nav>
                    <ul class="menu">
                        <li><a href="~/Home/Index">Donor</a></li>
                        <li class="current"><a href="#">Recipient</a></li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
        </div>
    </header>

    <script>
        $(document).ready(function () {

            $('.popup-with-form').magnificPopup({
                type: 'inline',
                preloader: false,
                focus: '#name',

                // When elemened is focused, some mobile browsers in some cases zoom in
                // It looks not nice, so we disable it:
                callbacks: {
                    beforeOpen: function () {
                        if ($(window).width() < 700) {
                            this.st.focus = false;
                        } else {
                            this.st.focus = '#name';
                        }
                    }
                }
            });

            var requestsTable = $('#RequestsTable').dataTable({
                "ajax": "AcquireData",
                "columns": [
               { "data": "name" },
               { "data": "date" },
               { "data": "collectedAmount" },
               { "data": "goalAmount" },
               { "data": "city" }
                ],
                "fnRowCallback": function (nRow, aData, isDisplayIndex, iDisplayFullIndex) {
                    var shouldPop = false;
                    var sum = aData.goalAmount - aData.collectedAmount;
                    if (aData.date === "") {
                        $(nRow).css('background-color', 'darkgray');
                    }
                    else if (sum <= 0) {
                        $(nRow).css('background-color', 'chartreuse');
                        shouldPop = true;

                    }

                    if (shouldPop) {
                        $.magnificPopup.open({
                            items: {
                                src: '#test-form'
                            },
                            type: 'inline'

                            // You may add options here, they're exactly the same as for $.fn.magnificPopup call
                            // Note that some settings that rely on click event (like disableOn or midClick) will not work here
                        }, 0);
                    }
                }

            }).ajaxComplete(function () {
               
                }
            );

        });
        function rowClick(currentRow) {

        }

    </script>

    <!--==============================content================================-->
    <section id="content">
        <div class="ic"> June 12, 2015!</div>
        <div class="container_12">
            <div class="grid_6 box-1">
                <img src="~/images/page1-img1.png" alt="">
                <div class="extra-wrap">
                    <h2>Who We Are</h2>
                    <p>JumpSTART is a project created at the great MasterCard hackathon. <br />Our goal is to enable p2p fundings for meaningful support.</p>
                </div>
            </div>
            <div class="grid_6 box-1">
                <img src="~/images/page1-img2.png" alt="">
                <div class="extra-wrap">
                    <h2>Starting Up...</h2>
                    <p>People in need of a jump start can raise funding from different people. Donors can help people directly, ensuring credibility for their purpose.</p>
                </div>
            </div>
            <div>
                <h2> View your goals! </h2>
            </div>
            <div class="grid_12 box-2">
                <div>
                    <h3 style="font-size: 25px">Courses: </h3>
                    <table id="RequestsTable" class="asa" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Collected</th>
                                <th>Goal</th>
                                <th>City</th>
                            </tr>

                        </thead>
                    </table>
                </div>
            </div>
            <div class="grid_8">
                <h2 class="top-1">Our Ideas</h2>
                <div class="box-3">
                    <div>
                        <img src="~/images/croud_fund1.jpg" alt="" class="img-border"   width="150%" height ="220%">
                        <a href="#" class="link-2">Crowd Funding</a>
                        <p>Contribute today to what you believe in!</p>
                    </div>
                    <div>
                        <img src="~/images/direct_contact3.jpg" alt="" class="img-border">
                        <a href="#" class="link-2">Direct contact</a>
                        <p>Choose a specific requirement waiting to be accomplished, and help a person get a jump start in life! </p>
                    </div>
                    <div class="last">
                        <img src="~/images/little_push1.jpg" alt="" class="img-border">
                        <a href="#" class="link-2">Get a little push</a>
                        <p>Join us and enjoy the power of networks to help you acheive your goals!</p>
                    </div>
                </div>
                <a href="#" class="button top-4">Read More</a>
            </div>
            <div class="grid_4">
                <h2 class="top-1">Popular Courses</h2>
                <div class="box-4 top-2">
                    <div class="date"><strong>29</strong><span>July, 2015</span></div>
                    <p><a href="#" class="link">How to cut your expenses</a><br>A three day workshop with the guidance of the coacher Alon Gal</p>
                </div>
                <div class="box-4 top-3">
                    <div class="date"><strong>21</strong><span>September, 2015</span></div>
                    <p><a href="#" class="link">Drug Rehab</a><br>A three month of intensive treatment with the best personnel.</p>
                </div>
                <a href="#" class="button top-4">Read More</a>
            </div>
            <div class="clear"></div>
        </div>


        <div id="addFunds-form" class="white-popup-block mfp-hide" style="width: 360px;">
            <b>Funds to add: </b> <input id="fundsToAdd" />
            <button onclick="addFunds()">Add</button>
        </div>

        <!-- form itself -->
        <div id="test-form" class="white-popup-block mfp-hide">
        </div>



    </section>
    <!--==============================footer=================================-->
    <footer>
        <p>© 2015 JumpSTART</p>
        <div class="soc-icons"><span>Follow Us:</span><a href="#"><img src="~/images/icon-1.jpg" alt=""></a><a href="#"><img src="~/images/icon-2.jpg" alt=""></a><a href="#"><img src="~/images/icon-3.jpg" alt=""></a></div>
    </footer>
    <form id="test-form" class="white-popup-block mfp-hide">
        <fieldset style="border:0;">
            <p>Your request has been accepted</p>            
        </fieldset>
    </form>
</body>
</html>